.App {
  text-align: center;
}

.logo {
  position: absolute;
  width: 100px;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.App-header {
  position: relative;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
